<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'gallery/3rdparty/bootstrap/css/bootstrap_kcl.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        body {
          padding-top: 50px;
          padding-bottom: 20px;
        }
        #showcase-carousel{
          padding-top: 10px;
          padding-bottom: 10px;
        }
        #info_button_link { 
           padding-top: 0px;
           padding-left: 25px;
           background: none;
           border: none;
           color: #33ccff;
           cursor: pointer; 
        }
        #info_button_link:hover {
           color: #3366cc;
           text-decoration: underline;
        }
        #about{
           cursor: pointer;
        }
    </style>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- about modal -->
    <div class="modal fade" id="about_modal" tabindex="-1" role="dialog" aria-labelledby="about_modal_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="about_modal_label">About this app</h4>
          </div>
          <div class="modal-body">
            <p>
              This app was is a heavily modified version of <a href="https://github.com/ome/gallery">'OMERO.gallery'</a> written and maintained by Daniel Matthews (NIC Manager). It is used to showcase the best images captured at the <a href="http://www.kcl.ac.uk/innovation/research/corefacilities/smallrf/nikon/index.aspx">Nikon Imaging Centre @ King's College London</a>. The data is all 'as captured' (i.e. no processing and no manipulation).
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a href="{% url 'webgallery_showcase' %}" class="pull-left"><img src="{% static 'gallery/img/banner.png' %}" style="height:50px;">-->
          <a class="navbar-brand" href="{% url 'webgallery_showcase' %}"><img src="{% static 'gallery/img/banner.png' %}" style="height:50px;"></a>
        </div>
        {% if ome.user.isAdmin %}
          <div class="navbar-collapse collapse pull-right">
              <!-- <form class="navbar-form navbar-right" role="form"> -->
              {% block navbar %}
              <ul class="nav navbar-nav">
                <li>
                    <a href="#">Logged in as: {{ ome.user.getFullName }}</a></li>
                <li><a href="{% url 'weblogout' %}">Logout</a></li>
              </ul>
              {% endblock %}
          </div><!--/.navbar-collapse -->
        {% endif %}
      </div>
    </div>

    <!--{% block jumbotron %}
    {% endblock %}-->

    <div class="container">
      <!-- Example row of columns -->
      {% block body %}
        {% endblock %}

      <hr>

      <footer>
        <p><a id="about" data-toggle="modal" data-target="#about_modal">About</a></p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'gallery/3rdparty/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'gallery/3rdparty/holder/holder.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#image_info_form").on('submit', function(event) {
                event.preventDefault();
                var image_id = $("#image_info").val();
                $.ajax({
                  type: "POST",
                  url: "/gallery/image_info",
                  data : {csrfmiddlewaretoken: '{{ csrf_token }}','imageId' : image_id},
                  success: function(results) {
                    var image_name = results.image_name,
                        sizeX = results.sizeX.toString(),
                        sizeY = results.sizeY.toString(),
                        sizeZ = results.sizeZ.toString(),
                        sizeT = results.sizeT.toString(),
                        pixels_type = results.pixels_type.toString(),
                        pixelSizeX = results.pixelSizeX.toString(),
                        pixelSizeY = results.pixelSizeY.toString(),
                        pixelSizeZ = results.pixelSizeZ.toString(),
                        channel_names = results.channel_names;

                    if (channel_names.length > 0){
                      var cnames_text = "";
                      for (i = 0; i < channel_names.length; i++) {
                          cnames_text += "<span>"+ channel_names[i] + ",";
                      }
                      cnames_text = cnames_text.substring(0, cnames_text.length - 1) + "</span>";
                    } else {
                      cnames_text = "No channel names defined";
                    }
                    $(".modal-header #image_info_modal_label").html( "Metadata for image: " + image_name );
                    $(".modal-body #info_table > tbody:last-child").append('<tr><th>Dimensions (XY): </th><td>'+sizeX+' x '+sizeY+'</td></tr><tr><th>Pixels Type: </th><td>'+pixels_type+'</td></tr><tr><th>Pixels Size (XYZ) (&#181m):</th><td>'+pixelSizeX+' x '+pixelSizeY+' x '+pixelSizeZ+'</td></tr><tr><th>Z-sections/Timepoints:</th><td>'+sizeZ+' x '+sizeT+'</td></tr><tr><th>Channels:</th><td>'+cnames_text+'</td></tr>');
                    $("#image_info_modal").modal('show');
                  }
                });
            });
        });
    </script>
  </body>
</html>
